/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:gray;
  display: grid;
}

header {
  display: grid;
  background-color: rgb(120, 120, 229);
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center ;
  ;

}
.top-menu {
 display: flex;
 align-content: c;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.customer {
  background-color: aliceblue;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.products {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.call-to-action {
  background-color: black;
  color: aliceblue;
  padding: 3rem;
  text-align:center;
  font-size: 2rem;

